@import 'tailwindcss';
@import 'tailwindcss-primeui';

@theme {
  /* Museo SansFont */
  --font-sans:
    'Museo Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

  /* Green color palette */
  --color-green-50: var(--p-green-50);
  --color-green-100: var(--p-green-100);
  --color-green-200: var(--p-green-200);
  --color-green-300: var(--p-green-300);
  --color-green-400: var(--p-green-400);
  --color-green-500: var(--p-green-500);
  --color-green-600: var(--p-green-600);
  --color-green-700: var(--p-green-700);
  --color-green-800: var(--p-green-800);
  --color-green-900: var(--p-green-900);
  --color-green-950: var(--p-green-950);

  /* Red color palette */
  --color-red-50: var(--p-red-50);
  --color-red-100: var(--p-red-100);
  --color-red-200: var(--p-red-200);
  --color-red-300: var(--p-red-300);
  --color-red-400: var(--p-red-400);
  --color-red-500: var(--p-red-500);
  --color-red-600: var(--p-red-600);
  --color-red-700: var(--p-red-700);
  --color-red-800: var(--p-red-800);
  --color-red-900: var(--p-red-900);
  --color-red-950: var(--p-red-950);

  /* Gray color palette */
  --color-gray-50: var(--p-gray-50);
  --color-gray-100: var(--p-gray-100);
  --color-gray-200: var(--p-gray-200);
  --color-gray-300: var(--p-gray-300);
  --color-gray-400: var(--p-gray-400);
  --color-gray-500: var(--p-gray-500);
  --color-gray-600: var(--p-gray-600);
  --color-gray-700: var(--p-gray-700);
  --color-gray-800: var(--p-gray-800);
  --color-gray-900: var(--p-gray-900);
  --color-gray-950: var(--p-gray-950);

  /* Purple color palette */
  --color-purple-50: var(--p-purple-50);
  --color-purple-100: var(--p-purple-100);
  --color-purple-200: var(--p-purple-200);
  --color-purple-300: var(--p-purple-300);
  --color-purple-400: var(--p-purple-400);
  --color-purple-500: var(--p-purple-500);
  --color-purple-600: var(--p-purple-600);
  --color-purple-700: var(--p-purple-700);
  --color-purple-800: var(--p-purple-800);
  --color-purple-900: var(--p-purple-900);
  --color-purple-950: var(--p-purple-950);

  /* Cyan color palette */
  --color-cyan-50: var(--p-cyan-50);
  --color-cyan-100: var(--p-cyan-100);
  --color-cyan-200: var(--p-cyan-200);
  --color-cyan-300: var(--p-cyan-300);
  --color-cyan-400: var(--p-cyan-400);
  --color-cyan-500: var(--p-cyan-500);
  --color-cyan-600: var(--p-cyan-600);
  --color-cyan-700: var(--p-cyan-700);
  --color-cyan-800: var(--p-cyan-800);
  --color-cyan-900: var(--p-cyan-900);
  --color-cyan-950: var(--p-cyan-950);

  /* Orange color palette */
  --color-orange-50: var(--p-orange-50);
  --color-orange-100: var(--p-orange-100);
  --color-orange-200: var(--p-orange-200);
  --color-orange-300: var(--p-orange-300);
  --color-orange-400: var(--p-orange-400);
  --color-orange-500: var(--p-orange-500);
  --color-orange-600: var(--p-orange-600);
  --color-orange-700: var(--p-orange-700);
  --color-orange-800: var(--p-orange-800);
  --color-orange-900: var(--p-orange-900);
  --color-orange-950: var(--p-orange-950);

  /* Blue color palette */
  --color-blue-50: var(--p-blue-50);
  --color-blue-100: var(--p-blue-100);
  --color-blue-200: var(--p-blue-200);
  --color-blue-300: var(--p-blue-300);
  --color-blue-400: var(--p-blue-400);
  --color-blue-500: var(--p-blue-500);
  --color-blue-600: var(--p-blue-600);
  --color-blue-700: var(--p-blue-700);
  --color-blue-800: var(--p-blue-800);
  --color-blue-900: var(--p-blue-900);
  --color-blue-950: var(--p-blue-950);
}